body{
	width: 100%;
	height: 60px;
	background: black;
	padding: 0 40px;
}
#mensaje{
	display: none;
	
}
.div-boton{
		background: black;
		width: 100%;
		height: 60px;
		align-content: center;
		color: white;
		text-align: center;
}
hr{
	background: white;
}
